<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Default Rules for CharLS code" Description="These rules are for the VS static analyzer." ToolsVersion="15.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">    
    <Rule Id="C26440" Action="None" /> <!-- Function 'Window::CreateSurface' can be declared 'noexcept' (f.6). -->
    <Rule Id="C26455" Action="None" /> <!-- Default constructor may not throw. Declare it 'noexcept' (f.6). -->
    <Rule Id="C26812" Action="None" /> <!-- The enum type 'VkResult' is unscoped. Prefer 'enum class' over 'enum' (Enum.3). -->    
  </Rules>
</RuleSet>